@font-face {
  font-family: "iconfont"; /* Project id 2549756 */
  src: url("iconfont.ttf?t=1621691757096") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-restart:before {
  content: "\ef68";
}

.icon-add:before {
  content: "\e60d";
}

.icon-run:before {
  content: "\e632";
}

.icon-dot:before {
  content: "\e65e";
}

.icon-upload:before {
  content: "\e647";
}

.icon-folder:before {
  content: "\e634";
}

.icon-stop:before {
  content: "\e62b";
}

.icon-edit:before {
  content: "\e662";
}

.icon-error:before {
  content: "\e619";
}

.icon-delete:before {
  content: "\e616";
}

.icon-setting:before {
  content: "\e600";
}
