@import "./style/common.css";

/* iconfont css */
@import "./style/iconfont.css";

/* dark mode */
@import "./style/dark-mode.css";


#conf-list-area {
  margin-block: 0.25rem;
  margin-inline: 0.05rem;
}

#conf-list-area .title {
  font-size: 125%;
  color: darkgray;
  border-bottom: 2px solid lightsteelblue;
}

#confs-control-panel {
  color: darkcyan;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block: 0.1rem;
}

#select-all-conf-btn {
  margin-inline-start: 0.12rem;
  margin-block-start: 0.1rem;
}

#conf-list {
  margin-block: 0.1rem;
  margin-inline: 0;
  padding-inline: 0.1rem;
}

#conf-list li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: cornflowerblue;
  padding-block: 0.08rem;
  border-top: 1px dashed lightgray;
}

#conf-list label {
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 0.2rem;
  display:inline-block;
  min-width: 1rem;
}

#bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.05rem;
  border-top: 1px solid gainsboro;
}